* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    align-items: center;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: black;
    background-size: 50vh;

}

h1 {
    font-family: 'Merriweather', serif;
}

.menu {
    background-color:black;
    position: fixed;
    width: 100vw;
    top: 0;
}

header {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: right;
}

.menu ul {
    display: flex;
    justify-content: left;
    margin-left: 2em;
    margin-right: 0em;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block ;
    padding: 10px 20px;
    transition: background-color 1s, color 0.5s;
    
}
  
.menu a:hover {
    background-color: whitesmoke;
    color: black;
}

.Bio .avatar{
    float: right;
    margin-left: 2em;
    margin-right: 1em;
}

.Bio .avatar img{
    width: 500px;
    float: right;
    border-radius: 75%;
  }

.contato a {
    color: black;
    font-size: 5em;
}

.contato {
    margin-left: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.contato a:hover {
    color: rgb(13, 125, 218);
    transition: background-color 1s, color 0.5s;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgb(13, 125, 218);
}

.theyaintready .grid {
    text-align: center;
    gap: 1em;
    grid-template-columns: 2;
    justify-content: center;
  }

.Bio {
    margin-left: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    color: pink;
}

input {
    width: 200px;
    height: 50px;
    border-color: rgb(255, 166, 0);
    font-family: 'Varela Round', sans-serif;
    font-size: x-large;
    color: black;
    background-color:rgb(255, 166, 0);
}

.lancamentos {
    display: grid;
    gap: 3em;
}

.lancamentos figure {
    text-align: center;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;

}

.tt {
    font-size: 2em;
}
    


